.form-box {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.link {
    width: 150px;
    display: block;
    margin: 25px auto;
}

.js-answer {
    text-align: center;
    margin-top: 25px;
}